.DS_Store
node_modules
/build
/dist
/examples
/.svelte-kit
/package
/docs
/misc
.claude/settings.local.json
.serena
CLAUDE.md
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
